* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

main {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  margin-top: 10px;
}

main.aa {
  align-items: flex-start;
}

div.main-file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  column-gap: 5px;
}

div.main-file-input button.file-input-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #4245a8;
  color: #f1f1f1;
  border-radius: 7px;
  column-gap: 5px;
  padding: 10px 10px;
  min-width: fit-content;
}

div.main-file-input button.file-input-button input[type="file"] {
  position: absolute;
  background-color: #0d0d17;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #f1f1f1;
  border-radius: 7px;
  opacity: 0;
}

div.main-file-input button.file-input-button svg {
  height: 20px;
}

div.main-file-input button.file-input-button span {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

div.main-file-input .print-button,
div.main-file-input .clear-button,
div.main-file-input button.button-search {
  border: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #2bc18a;
  height: 40px;
  border-radius: 7px;
  color: #f1f1f1;
  padding: 0 10px;
}

div.main-file-input .clear-button {
  background-color: #d61964;
}

div.main-file-input div.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 100%;
  position: relative;
}

div.main-file-input input.input-search {
  position: absolute;
  z-index: 16;
  border: none;
  height: 40px;
  width: 0px;
  right: 36px;
  background-color: #ebe6de;
  border-start-start-radius: 7px;
  border-end-start-radius: 7px;
  transition: width 0.3s, padding 0.9s;
  font-size: 16px;
  color: #403e3b;
}

div.main-file-input input.input-search:focus,
div.main-file-input input.input-search[active="1"] {
  outline: none;
  width: 200px;
  padding: 0 10px;
}

div.main-file-input button.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d48b22;
  color: #f1f1f1;
  border-end-start-radius: 0;
  border-start-start-radius: 0;
}

div.main-file-input div.search-bar nav {
  position: absolute;
  z-index: 778;
  right: 36px;
  top: 40px;
  width: 200px;
  height: 0px;
  background-color: #ebe6de;
  color: #403e3b;
}

[disabled="null"] {
  display: none !important;
}

div.barcodes {
  height: 500px;
  overflow-x: scroll;
  width: 100%;
  background-color: #e8e8e8;
  border-radius: 7px;
  padding: 10px;
}

div.barcodes div.data {
  display: inline-block;
}

div.barcodes div.no-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 15px;
}

div.barcodes div.no-items h1 {
  color: #000;
  opacity: 0.5;
  text-align: center;
}

div.barcodes div.no-items h1 span {
  color: #d82564;
}

div.barcodes div.no-items svg {
  width: 50px;
  opacity: 0.5;
  stroke: #d82564;
}

div.barcodes div[active="1"] {
  position: relative;
}

div.barcodes div[active="1"]::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 111;
  position: absolute;
  transition: 0.3s;
  background-color: rgba(70, 131, 180, 0.411);
  /* animation: m 3s infinite; */
}

@keyframes m {
  0% {
    background-color: rgb(197, 197, 197);
  }
  100% {
    background-color: transparent;
  }
}

div.barcodes h4 {
  background-color: #fff;
  text-align: center;
  padding-top: 9px;
  font-weight: bolder;
}

div.barcodes svg {
  width: fit-content;
  height: fit-content;
}

@media (max-width: 00px) {
  div.barcodes div {
    width: 100%;
  }
  div.barcodes svg {
    width: 100%;
  }
}

@media print {
  main {
    width: 100%;
  }
  div.main-file-input {
    display: none;
  }
  div.barcodes {
    display: block;
    overflow-y: visible;
    padding: 0;
  }
  div.barcodes div.data {
    display: inline-block;
  }
  div.barcodes svg {
    width: 100px;
    height: 40px;
  }
  div.barcodes h4 {
    font-size: 5px;
  }
}
